.loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, 0.4);
  z-index: 9999;

  & .loading-spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #ddd;
    border-top-color: #fece51;
    animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
