@import "@/responsive.scss";

.policy {
  color: $h2;

  & h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.64px;
    margin-bottom: 16px;
  }

  & h4 {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    line-height: 24px;
    margin-bottom: 16px;
  }

  & p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  & .list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: initial;
    margin-left: 36px;
    margin-bottom: 16px;
  }
}
