@import "@/responsive.scss";

.roomList {
  display: flex;
  height: 100%;

  & .listContainer {
    flex: 3;
    height: 100%;

    & .wrapper {
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: auto;
      padding-bottom: 50px;
    }
  }

  & .mapContainer {
    z-index: 1;
    flex: 2;
    height: 100%;
    background-color: $primary-bg;

    @include md {
      display: none;
    }
  }
}
