@import "../../responsive.scss";

.wishlist {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: auto;
  }

  & .details {
    flex: 3;
    overflow-y: auto;
    padding-bottom: 50px;

    @include md {
      flex: none;
      height: max-content;
    }

    & .wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      & .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & h1 {
          padding: 12px 24px;
          font-size: 20px;
          font-weight: 300;
        }

        & button {
          padding: 12px 24px;
          background-color: #fece51;
          cursor: pointer;
          border: none;
        }
      }
    }
  }
}
