@import "../../../responsive.scss";

.layout {
  overflow: auto;

  & .navbar-wrapper,
  & .content-wrapper,
  & .footer-wrapper {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lg {
      // background-color: rgb(247, 210, 196);
      max-width: 1280px;
    }

    @include md {
      // background-color: rgb(186, 203, 234);
      max-width: 768px;
    }

    @include sm {
      // background-color: rgb(239, 200, 200);
      max-width: 640px;
    }
  }

  & .content-wrapper {
    min-height: calc(100vh - 100px);
    margin-bottom: 10px;
  }

  & .footer-container {
    background: $gray;
  }
}

.content_bg {
  background-color: #fff;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  padding-bottom: 64px;
}

.navbar_bg {
  border-bottom-color: rgba(247,249,250,1.00);
  box-shadow: 0px 1px 2px rgba(3,18,26,0.20);
  background-color: rgba(255,255,255,1.00);
  background-image: url("../../../../public/mountain.png");
  height: 360px;
  color: rgba(255,255,255,1.00);
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
}

.footer_bg {
  border-bottom-color: rgba(247,249,250,1.00);
  box-shadow: 0px 1px 2px rgba(3,18,26,0.20);
  background-color: rgba(28,41,48,1.00);
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
}




