@import "../../responsive.scss";

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  & a {
    transition: all 0.4s ease;

    @include sm {
      display: none;
    }

    &:hover {
      scale: 1.05;
    }
  }

  & .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    & .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      & span {
        @include md {
          display: none;
        }

        @include sm {
          display: initial;
        }
      }
    }
  }

  & .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      background-color: transparent;
    }

    & a:not(:first-child) {
      padding: 12px 24px;
      margin: 20px;
    }

    & .user {
      display: flex;
      align-items: center;
      font-weight: bold;

      & .avatar {
        margin-right: 20px;
      }

      & span {
        @include sm {
          display: none;
        }
      }

      & .logout {
        padding: 12px 24px;
        background-color: rgb(255, 128, 0);
        color: #fcf5f3;
        cursor: pointer;
        border: none;
        position: relative;
      }

      & .my-booking {
        padding: 12px 24px;
        background-color: #fece51;
        cursor: pointer;
        border: none;
        position: relative;
      }
    }

    & .login-btn {
      background-color: white;
      border: 1px solid #fece51;
      height: 50px;
      padding: 5px 16px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .register-btn {
      background-color: #fece51;
      height: 50px;
      padding: 5px 16px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .menuIcon {
      display: none;
      z-index: 999;

      & img {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }

      @include sm {
        display: inline;
      }
    }

    & .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: black;
      color: white;
      height: 100vh;
      width: 50%;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}
