@import "../../responsive.scss";

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  & a {
    transition: scale 0.4s ease, padding 0.3s ease, color 0.2s linear;

    &:hover {
      scale: 1.05;
    }
  }

  & .left {
    flex: 3;
    display: flex;
    align-items: center;

    & .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      margin-right: 20px;
    }

    & a:not(:first-child) {
      padding: 12px 24px;
      border: 0;

      &:hover:not(:first-child) {
        color: #fece51;
        border-bottom: 2px solid #fece51;
      }
    }
  }

  & .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;
    height: 100%;

    & a:not(:first-child) {
      padding: 12px 24px;
      margin: 20px;
    }

    & .user {
      display: flex;
      align-items: center;
      font-weight: bold;
      margin: 0 20px;

      & .avatar {
        margin-right: 20px;
      }
    }

    & .auth {
      & .host-btn {
        margin-left: 20px;
      }

      & .login-btn {
        background-color: white;
        border: 1px solid #fece51;
        height: 50px;
        padding: 5px 16px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & .register-btn {
        background-color: #fece51;
        height: 50px;
        padding: 5px 16px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    & .menuIcon {
      display: none;
      flex-shrink: 0;
      z-index: 999;

      & img {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }
    }

    & .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: black;
      color: white;
      height: 100vh;
      width: 50%;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;

      &.active {
        right: 0;
      }
    }
  }
}

@include md {
  nav {
    & .left {
      & .logo {
        & span {
          display: none;
        }
      }

      & a:not(:first-child) {
        padding: 12px 16px;
      }
    }

    & .right {
      background-color: transparent;
    }
  }
}

@include sm {
  nav {
    & a {
      display: none;
    }

    & .left {
      gap: 0;

      & .logo {
        & span {
          display: initial;
        }
      }
    }

    & .right {
      & a {
        padding: 12px 24px;
        margin: 0 !important;
      }

      & .user {
        margin: 0 20px 0 0;

        & a {
          display: inline-block;
        }
      }

      & .auth {
        display: none;
      }

      & .menuIcon {
        display: inline;
      }

      & .menu {
        & a {
          display: initial;

          &:hover {
            color: #fece51;
          }
        }
      }
    }
  }
}
