@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/responsive.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: normal;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.4s ease-out 0s;
}

input {
  transition: border 0.3s ease-out;

  &:focus {
    border-color: $primary !important;
  }

  &:focus-visible {
    outline: none;
  }
}
