@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.4s ease-out 0s;
}

input {
  transition: border 0.3s ease-out;

  &:focus {
    border-color: #fece51 !important;
  }

  &:focus-visible {
    outline: none;
  }
}
